<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-2">
                    <div class="card-block p-2">
                        <h1>Register</h1>
                        <p class="text-muted">Create your account</p>
                          
                          <form (ngSubmit)="signup()" #form="ngForm" novalidate>
                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" placeholder="Name">
                            </div>

                            <div class="input-group mb-1">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="Email">
                            </div>

                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Password">
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" class="form-control" name="password_confirmation" [(ngModel)]="model.password_confirmation" #password_confirmation="ngModel" placeholder="Repeat password">
                            </div>

                            <button type="submit" [disabled]="loading" class="btn btn-block btn-success">Create Account</button>
                            <img *ngIf="loading" src="../../../assets/img/loadingseal.gif" />
                          </form>
                          {{error}}
                    </div>
                    <div class="card-footer p-2">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-block btn-facebook" type="button">
                                    <span>facebook</span>
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-block btn-twitter" type="button">
                                    <span>twitter</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
